/******************************
variables
******************************/
$navPlava: #09192c; 
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat', sans-serif;
$transition: .3s ease;
/******************************
basic styles
******************************/
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}
body {
		font-size: $font;
		color: $fontColor;
		font-family: $fontFamily;
		line-height: 1.5;
}
ul {
		list-style: none;
}
.btn {
	font-size: 0.9rem;
	text-transform: uppercase;
	background: $pink;
	border-radius: 50px;
	border: none;
	padding: 15px 30px;
	letter-spacing: 1px;
	font-weight: 600;
}
.container {
	max-width: 80%;
}
/******************************
nav
******************************/
.navbar {
	background-color: $navPlava;
	&-toggler  {
		color: $pink;
		border: none;
	}
	&-brand {
		font-size: 1.8rem;
		font-weight: 600;
		color:$bela;
		span {
			color: $pink;
		}
		&:hover {
			color: $bela;
		}
	}
	.nav-link {
		color: $bela;
		transition: $transition;
		font-size: 1rem;
		margin: 0 15px;
		&:hover {
			color: $pink;
		}
	}
}
/******************************
footer
******************************/
footer {
	background-color: $navPlava;
	padding: $padding;
	h4 {
		font-size: 2rem;
		font-weight: 600;
		color:$bela;
		span {
			color: $pink;
		}
	}
	p {
		padding: 15px;
		font-size: 1.2rem;
	}
	a {
		margin: 0 30px;
		color: $bela;
		cursor: pointer;
		&:hover i {
			color: $pink;
		}
		i {
			font-size: 1.2rem;
			transition: $transition;
		}
	}
}
/******************************
Home - page
******************************/
// homeHeader
.homeHeader {
	background: $tamnoPlava;
	h1 {
		font-size: 3rem;
		font-weight: 700;
		span {
			color: $pink;
		}
	}
}
// CTA
.cta	{
	padding: $padding;
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
	}
}
/******************************
How it works - page
******************************/
// howItWorksHeader
.howitworksHeader {
	background: $tamnoPlava;
	padding: $padding;
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		padding: 30px 0 20px 0;
	}
	i {
		font-size: 3rem;
		color: $pink;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 20px 0;
	}
}
// conceptArtists
.conceptArtists {
	
	padding: $padding;
	h2 {
		font-size: 2.5rem;
		font-weight: 700;
	}
	p {
		margin: 0;
	}

	img {
		border-radius: 15%;
	}
	h3 {
		font-size: 1rem;
		font-weight: 600;
		padding: 10px 0;
	}
}

/******************************
Subscribe - page
******************************/
// subscribeHeader
.subscribeHeader {
	background: $tamnoPlava;
	padding: $padding;
	h1 {
		font-size: 2.6rem;
		font-weight: 700;
		span {
			color: $pink;
			font-size: 2rem;
		}
	}
	.col-md-6:last-child {
		background: $violet;
		border-radius: 30px;
		padding: 20px;
		// margin-top: 20px;
		li {
			padding: 10px;
			i {
				color: $pink;
				padding-right: 15px;
			}
		}
	}
}
// conceptArtists
.rounded-img {
	img {
		border-radius: 50%;
	}
}